@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;500;700&display=swap");

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.application-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.application-topbar {
  background-color: rgb(50, 78, 156);
  color: white;
  width: 100%;
}

.brand-text {
  font-size: 1.25rem;
  margin: 0;
  padding-block: .5rem;
  padding-left: .25rem;
  font-weight: bold;
}

.quick-links {
  width: 100%;
  padding-inline: 1rem;
}

.form-container {
  padding-inline: 2.5rem;
  width: 100%;
}

.linear-navigator {
  width: 100%;
}
