<div class="application-container">
    <div class="application-topbar">
        <div class="topbar-brand">
            <h1 class="brand-text">Insurance Claim Form (Example)</h1>
        </div>
    </div>
    <nav role="navigation" aria-label="quick links" class="quick-links">
        <ddforms-non-linear-navigator></ddforms-non-linear-navigator>
    </nav>
    <main role="main" class="form-container">
        <ddforms-form-container></ddforms-form-container>
    </main>
    <nav role="navigation" aria-label="linear navigator" class="linear-navigator">
        <ddforms-linear-navigator></ddforms-linear-navigator>
    </nav>
</div>