main {
  width: 100vw;
  height: 100vh;
}

.side-by-side {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
}

.app-side {
  overflow: auto;
  width: 70%;
  padding: 0.5rem;
}

.data-side {
  overflow: auto;
  padding: 1rem;
  flex-shrink: 1;
}
